KUBE_ETCD_SERVERS="--etcd_servers=http://{{ groups['atomic-master'][0] }}:4001"
KUBE_API_ADDRESS="--address=0.0.0.0"
KUBE_API_PORT="--port=8080"
KUBELET_PORT="--kubelet_port=10250"
KUBE_SERVICE_ADDRESSES="--portal_net=192.168.100.0/24"
KUBE_API_ARGS=""
